.dx-htmleditor {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;

    .dx-htmleditor-toolbar-wrapper {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .dx-quill-container {
        padding-top: 10px;
    }

    .dx-icon {
        color: black !important;
    }
}

.master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.dx-datagrid-group-closed::before,
.dx-datagrid-group-opened::before {
    display: none !important;
}

.dx-datagrid-group-closed,
.dx-datagrid-group-opened {
    padding-top: inherit;
}