<div class="filter-search" style="padding: 0!important">
    <form id="search-asset-form" action="#">
        <div class="input-group">
            <input type="text" class="form-control search-control" aria-label="Từ khóa tìm kiếm"
                   aria-describedby="search-addon" id="keyword-search-congtrinh" placeholder="Từ khóa tìm kiếm" autocomplete="off">
        </div>
    </form>
</div>