<div class="chat-form">
    <form class="form" id="formChat">
        <div class="chat-input">
            <input type="text" class="form-control chat-control" id="chat-message" name="message" data-model="message" placeholder="Nhập">
            <a href="#" class="btn btn-upload" id="btnUploadImage" title="Tải lên hình ảnh">
                <i class="icon icon-directbox-send"></i>
            </a>
            <a href="#" class="btn btn-chat" id="btnSendChat" title="Gửi">
                <i class="icon icon-send-1"></i>
            </a>
        </div>
        <div class="input-image" style="padding-top: 10px">

        </div>
    </form>
</div>