<option value="" style="display: none;">Lưu...</option>
<option value="0">Sao chép vào bộ nhớ tạm thời...</option>
<option value="1">Lưu dưới dạng JPEG</option>
<option value="2">Lưu dưới dạng PMG</option>
<option value="3">Lưu dưới dạng PDF</option>