<option value="">Kích thước màn hình</option>
<option value="A0">A0 - 841x1189 mm</option>
<option value="A1">A1 - 594x841 mm</option>
<option value="A2">A2 - 420x594 mm</option>
<option value="A3">A3 - 297x420 mm</option>
<option value="A4">A4 - 210x297 mm</option>
<option value="US Letter">US Letter - 215.9x279.4 mm</option>
<option value="A5">A5 - 148x210 mm</option>
<option value="B4">B4 - 257x364 mm</option>
<option value="B5">B5 - 182x257 mm</option>