.dx-header-row .dx-cell-focus-disabled {
    text-align: center !important;
    font-size: 14px;
    font-weight: bold;
}

.dx-form-group-caption {
    color: #000000;
    font-weight: 700 !important;
    font-size: 14px;
}