@model VietGIS.Infrastructure.Identity.ViewModels.ResetPasswordViewModel;
@using VietGIS.Infrastructure;

@{
    Layout = null;
}

<label class="control-label">Xin chào, @Model.Email</label>
<br />
<label class="control-label">Chúng tôi đã gửi cho bạn email này để phản hồi yêu cầu đặt lại
    mật khẩu của bạn.</label>
<br />
<label class="control-label">Để đặt lại mật khẩu của bạn, vui lòng theo liên kết dưới đây:
    @Model.Url</label>