<header id="header">
    <div class="container">
        <div class="header-front">
            <div class="logo">
                <img src="@VietGIS.Infrastructure.GlobalConfiguration.ApplicationLogo" alt="" class="header-logo" />
                <div class="header-title">
                    <h6>@VietGIS.Infrastructure.GlobalConfiguration.ApplicationName</h6>
                    <h6 class="parent-module"></h6>
                </div>
            </div>
        </div>
    </div>
</header>