<li class="btn-group-account">
    <a id="acount" class="btn-acount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Tài khoản">
        <i class="acount-username icon icon-user"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-account" aria-labelledby="acount">
        <li>
            <a href="javascript:void(0);" class="change-info-action">
                <i class="icon icon-user" style="font-size: 16px"></i>
                Thông tin cá nhân
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="change-password-action">
                <i class="icon icon-user-edit" style="font-size: 16px"></i>
                Thay đổi mật khẩu
            </a>
        </li>
        <li>
            <a href="/account/logout">
                <i class="icon icon-logout-1" style="font-size: 16px"></i>
                Đăng Xuất
            </a>
        </li>
    </ul>
</li>