<div class="filter-search" style="padding: 0!important">
    <form id="search-form" action="#">
        <div class="input-group">
            <input type="text" class="form-control search-control" aria-label="Từ khóa"
                   aria-describedby="search-addon" id="keyword-search" placeholder="Từ khóa" autocomplete="off">
        </div>
    </form>
</div>