<li class="management-item">
    <a href="{{url}}" class="management-box">
        <div class="management-image">
            <img src="{{icon}}" alt="" width="50" height="50">
        </div>
        <div class="management-body">
            <p>{{name}}</p>
        </div>
    </a>
</li>