.dx-data-row .cell-highlighted-1 {
    background-color: #B2EBF2;
}

.dx-header-row .cell-highlighted-1 {
    background-color: #B2EBF2;
}

.dx-data-row .cell-highlighted-2 {
    background-color: #F48FB1;
}

.dx-header-row .cell-highlighted-2 {
    background-color: #F48FB1;
}