<div class="gallery-item col-4" style="width: 100%;">
    <div class="gallery-image" style="padding: 0 3px; cursor:pointer;" data-id="58">
        <a href="{{ten_luutru}}" data-fancybox="gallery" data-caption="{{ten_file}}">
            <img class="fancybox" src="{{ten_luutru}}" data-id="{{id}}" alt="Ảnh đi thực tế" title="Ảnh đi thực tế" style="width: 140px;height: 140px">
        </a>
    </div>
</div>