<div class="filter-layer-search">
    <form class="search-form" action="">
        <div class="input-group">
            <input type="text" class="form-control search-control" aria-label="Searcy" aria-describedby="search-addon" id="input-keyword" placeholder="Tìm kiếm" autocomplete="off">
            <span class="deleteicon">
                <span>x</span>
            </span>
            <!--<a class="btn-input-reset" href="javascript:;">
                <span class="icon-clear">&nbsp;</span>
            </a>-->
        </div>
    </form>
</div>